@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@700&display=swap");

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.backface-hidden {
  backface-visibility: hidden;
}

.inch-up {
  transform: translateY(10px);
}
